<div class="container">
    {{message}}
    {{#each articles}}
    <div class="row">
        {{!-- Show my articles --}} {{!-- For every article in the DB --}}
        <div id="articles" class="col l4" data-id={{this._id}}>
            <h4> {{this.title}}</h4>
            <img src={{this.imgLink}}> {{this.bodyText}}
            <a href="{{this.link}}">Link</a>
            <form action="" method="POST">
                <input class="form-control" type="hidden" name='id' id='id' required="true" value={{this._id}}>
                <button type="submit">Remove Article</button>
            </form>
        </div>
        <div id="notes" class="col l4">
            {{#each note}}
            <b>{{this.title}}</b>
            {{this.body}} {{!-- Delete Button needs to be hooked up --}}
            <br>
            <form='POST' action='note/delete/{{this.id}}'>
            <button  class="deleteNote" data-id="{{this.id}}">Remove Note</button>
            </form>
            <hr>
            {{/each}}
        </div>
        <div id="addNote_{{this._id}}" class="col l4" data-id={{this._id}}>
            <h6> {{this.title}} </h6>
            <form action="note/newnote/{{this._id}}" method="POST">
                <input type="hidden" name="article" id="article" required="true" value={{this._id}}>
                <input id='titleinput_{{this._id}}' name='title' placeholder="Note Title">
                <textarea id='bodyinput_{{this._id}}' name='body' placeholder="Note Body"></textarea>
            <button type="submit">Save Note</button>
            </form>
        </div>
    </div>
</div>
<hr>
{{/each}}
</div>
</div>