<header><h1>HiFructose Scrape</h1></header>


  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li id="scrape">Scrape</li>
        <li><a href="#">Github</a></li>
        <li><a href="http://www.hifructose.com">Hi Fructose</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
    <div class="row">
        {{!-- Show my articles --}}
        <div id="articles" class="col l6">
            {{!-- For every article in the DB --}}
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Picture</th>
                        <th>link</th>
                        <th>action</th>
                        <th>notes</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each articles}}
                    <tr data-id={{this._id}}>
                        <td>
                            {{this.title}}
                        </td>
                        <td>
                            <img src={{this.imgLink}}>
                        </td>
                        <td>
                            <a href="{{this.link}}">Link</a>
                        </td>
                        <td>
                            <button class="addNote" data-id="{{this.id}}">Add Note</button>
                            <button class="delete" data-id="{{this.id}}">Remove</button>
                        </td>
                        {{!--
                        <td id={{this.notes._id}}>

                        </td> --}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div id="notes" class="col l6">
            note
        </div>
    </div>
</div>