<h2>SCRAPE PAGE New Articles from HiFructose!</h2>
<button id="home">Home</button>
<div id="articles">
  <ul>
    {{#each articles}}
    <li data-id={{this._id}}>
      {{this.title}}
      <button data-id={{this._id}} class="save">save</button>
      <button data-id={{this._id}} class="delete">delete</button>
    </li>
    {{!-- <a href="{{this.link}}">link</a>
    <button class="addNote" data-id="{{this.id}}">Add Note</button> --}}
    {{/each}}

  </ul>
</div>